.list-withLinks {
  margin: 0 20px;
}
.description-withLinks {
  text-align: center;
  padding-bottom: 15px;
}
@media (min-aspect-ratio: 0.7/1) {
  .description-withLinks {
    text-align: left;
  }
}
