.post-card {
  word-break: break-word;
  width: 300px;
  height: 500px;
  padding: 0px !important;
}

.post-card:hover {
  transform: scale(1.1);
}

.post-card img {
  max-width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: left;
}

.card-title {
  font-size: 1em;
  padding: 24px;
}

.card-text {
  color: #212529;
  padding: 0 24px;
}
