.icon-star {
  width: 12px;
  height: 12px;
  margin-right: 20px;
}
.flex-star {
  align-items: center;
}
.title-star {
  margin-bottom: 0;
  margin-right: 10px;
  font-weight: 600;
}
.item-star {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .flex-star {
    width: 480px;
  }
}
@media (max-aspect-ratio: 0.7/1) {
  .icon-star {
    width: 8px;
    height: 8px;
    margin-right: 12px;
    transform: scale(1.5);
  }
}
